<h1>Cocktails</h1>
<p><% @cocktails.each do |cocktail| %>
<p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
<p><% end %></p>
<p class="btn"><%= link_to "Create Cocktail", new_cocktail_path %></p>
